.board {
  width: 68px;
  margin: 10px auto;
}
.board-status {
  font-size: 15px;
  color: black;
  white-space: nowrap;
  margin-bottom: 10px;
}
.square {
  font-size: 15px;
  font-weight: 600;
  color: black;
  height: 0.5rem;
  width: 0.5rem;
  padding: 0px;
}
