.header {
  position: fixed;
  top: 0;
  width: 95vw;
  padding: 15px;
  &-logo {
    height: 100px;
    width: 100px;
    display: inline-block;
  }
  &-ava {
    width: 20px;
    margin-left: 25px;
  }
  &-tabs {
    height: 60vh;
    .ant-tabs-nav-list {
      top: -13px;
      left: 9px;
    }
  }
}
