body {
  margin: 0px;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.ml-1 {
  margin-left: 0.125rem;
}

.ml-2 {
  margin-left: 0.25rem;
}
